body {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

pre {
    margin: 0;
}

.bottom {
    position: absolute;
    bottom: 0vh;
}

.sidebar {
    height: 100%;
    width: 10%;
    background-color: #222;
    position: fixed !important;
    z-index: 1;
    overflow: hidden;
}

.center .bar {
    display: inline-block;
    width: auto
}

.hide {
    display:none !important
}

@media (max-width: 600px) {
    .hide-small {
        display:none !important
    }
}

@media (min-width: 993px) {
    .hide-large {
        display:none !important
    }
}

@media (max-width: 992px) and(min-width: 601px) {
    .hide-medium {
        display: none !important
    }
}

.center {
    text-align: center !important
}

.dark-blue {
    color: #fff;
    background-color: #0a0f15;
}

#contact-terminal {
    display: flex;
}

#contact-terminal::after {
    content: "";
    background: transparent;
    width: 95vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

#pingMessage {
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: transparent;
    width: calc(100vw - 10px);
    height: fit-content;
    color: white;
    margin: 0;
    padding: 0;
    text-indent: min(307px, 51vw);
    border: transparent solid 0px;
    outline: none;
    text-decoration: none;
    resize: none;
    caret-color: #018911;
}

.back-to-home::before {
    content: "";
    width: min(120px, 22vw);
    height: min(20px, 3vw);
    background: transparent;
    position: absolute;
    z-index: 1000;
}

spline-viewer {
    width: 100vw;
    position: relative;
}

.vertical-title{
    color: #3a3a3a;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    margin: auto;
    font-size: 5vw;
    padding-top: 2.5vh;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ribbon-topleft {
    width: 0; 
    height: 0; 
    position: fixed;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 10vw solid black;
    transform: translateX(-50%);
}

.ribbon-bottomright {
    width: 0; 
    height: 0; 
    position: fixed;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 10vw solid black;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
    z-index: 1;
}

.circle-button {
    position: absolute;
    border-radius: 50%;
    height: 8.5vw;
    width: 8.5vw;
    z-index: 1;
    background: transparent;
    border: transparent;
    font-size: 0;
}

.hang-loose {
    top: 40%;
    right: 21%;
}

.contact {
    top: 12%;
    right: 29.5%;
}

.portfolio {
    top: 1.5%;
    right: 46%;
}

.about {
    top: 12%;
    right: 62%;
}

.social {
    top: 40%;
    right: 70.1%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar{
	width: 3px;
}

::-webkit-scrollbar-track-piece {
    background: #232323;
}

::-webkit-scrollbar-thumb {
    background: #575757;
}

    